.header {
	padding: 2rem 1rem;
	text-align: center;
	background-image: url('../../assets/images/pattern-bg.png');
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}
h1 {
	color: white;
	font-weight: 500;
}
/* form */
form {
	display: flex;
	width: 40%;
	margin: 2rem auto 4rem auto;
}
form input[type='text'] {
	width: 90%;
	padding: 15px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border: none;
	font-size: 1rem;
}
form input[type='text']:focus {
	outline: none;
}
form button {
	border: none;
	color: white;
	background-color: black;
	width: 10%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background-image: url('../../assets/images/icon-arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
}
.location {
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	width: 80%;
	height: 8rem;
	border: 2px solid black;
	bottom: -4rem;
	display: flex;
	border-radius: 10px;
}
.location div {
	width: 25%;
	border: 1px solid black;
	/* border-radius: 8px; */
}
