form input[type='text'] {
	width: 90%;
	padding: 15px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border: none;
	font-size: 1rem;
}
form input[type='text']:focus {
	outline: none;
}
